# Tartware Load Testing Environment Configuration

# Docker Compose for Local Load Testing Environment
version: '3.9'

services:
  # InfluxDB for k6 metrics storage
  influxdb:
    image: influxdb:2.7
    container_name: tartware-influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminpassword
      - DOCKER_INFLUXDB_INIT_ORG=tartware
      - DOCKER_INFLUXDB_INIT_BUCKET=k6
      - DOCKER_INFLUXDB_INIT_RETENTION=7d
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=tartware-token
    volumes:
      - influxdb_data:/var/lib/influxdb2
      - influxdb_config:/etc/influxdb2
    networks:
      - loadtest

  # Grafana for visualization
  grafana:
    image: grafana/grafana:latest
    container_name: tartware-grafana-loadtest
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana-dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana-datasources:/etc/grafana/provisioning/datasources
    depends_on:
      - influxdb
    networks:
      - loadtest

  # k6 load generator
  k6:
    image: grafana/k6:latest
    container_name: tartware-k6
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
      - GATEWAY_BASE_URL=${GATEWAY_BASE_URL:-http://host.docker.internal:8080}
      - API_TOKEN=${API_TOKEN:-}
      - TENANT_IDS=${TENANT_IDS:-}
      - PROPERTY_IDS=${PROPERTY_IDS:-}
      - ROOM_TYPE_IDS=${ROOM_TYPE_IDS:-}
      - RESERVATION_IDS=${RESERVATION_IDS:-}
      - GUEST_IDS=${GUEST_IDS:-}
      - HOUSEKEEPING_TASK_IDS=${HOUSEKEEPING_TASK_IDS:-}
      - HOUSEKEEPING_STAFF_IDS=${HOUSEKEEPING_STAFF_IDS:-}
    volumes:
      - ./k6:/scripts
    command: run /scripts/command-pipeline.js
    depends_on:
      - influxdb
    networks:
      - loadtest
    profiles:
      - manual

  # Locust alternative load testing
  locust-master:
    image: locustio/locust:latest
    container_name: tartware-locust-master
    ports:
      - "8089:8089"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --master --expect-workers=3
    environment:
      - LOCUST_HOST=${GATEWAY_BASE_URL:-http://host.docker.internal:8080}
      - API_TOKEN=${API_TOKEN:-}
      - TENANT_IDS=${TENANT_IDS:-}
      - PROPERTY_IDS=${PROPERTY_IDS:-}
      - ROOM_TYPE_IDS=${ROOM_TYPE_IDS:-}
      - RESERVATION_IDS=${RESERVATION_IDS:-}
      - GUEST_IDS=${GUEST_IDS:-}
      - HOUSEKEEPING_TASK_IDS=${HOUSEKEEPING_TASK_IDS:-}
      - HOUSEKEEPING_STAFF_IDS=${HOUSEKEEPING_STAFF_IDS:-}
    networks:
      - loadtest
    profiles:
      - locust

  locust-worker:
    image: locustio/locust:latest
    volumes:
      - ./locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --worker --master-host=locust-master
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - LOCUST_HOST=${GATEWAY_BASE_URL:-http://host.docker.internal:8080}
      - API_TOKEN=${API_TOKEN:-}
      - TENANT_IDS=${TENANT_IDS:-}
      - PROPERTY_IDS=${PROPERTY_IDS:-}
      - ROOM_TYPE_IDS=${ROOM_TYPE_IDS:-}
      - RESERVATION_IDS=${RESERVATION_IDS:-}
      - GUEST_IDS=${GUEST_IDS:-}
      - HOUSEKEEPING_TASK_IDS=${HOUSEKEEPING_TASK_IDS:-}
      - HOUSEKEEPING_STAFF_IDS=${HOUSEKEEPING_STAFF_IDS:-}
    deploy:
      replicas: 3
    networks:
      - loadtest
    profiles:
      - locust

volumes:
  influxdb_data:
  influxdb_config:
  grafana_data:

networks:
  loadtest:
    driver: bridge
