<aside class="sidebar" [class.collapsed]="collapsed()">

  <nav class="sidebar-nav">
    @for (item of primaryNavItems(); track item.label) {
      <ng-container *ngTemplateOutlet="navItemTpl; context: { $implicit: item }" />
    }
  </nav>

  <nav class="sidebar-nav-secondary">
    @for (item of secondaryNavItems(); track item.label) {
      <ng-container *ngTemplateOutlet="navItemTpl; context: { $implicit: item }" />
    }
  </nav>

  <div class="sidebar-footer">
    <button class="collapse-toggle" (click)="toggleCollapse.emit()">
      <mat-icon>{{ collapsed() ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>
</aside>

<ng-template #navItemTpl let-item>
  @if (item.children) {
    <button class="nav-item nav-parent"
            [class.nav-item-active]="isParentActive(item)"
            [matTooltip]="collapsed() ? (item.label | translate) : ''"
            matTooltipPosition="right"
            (click)="onParentClick(item)">
      <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
      @if (!collapsed()) {
        <span class="nav-label">{{ item.label | translate }}</span>
      }
    </button>
  } @else {
    <a class="nav-item"
       [routerLink]="item.route"
       routerLinkActive="nav-item-active"
       [matTooltip]="collapsed() ? (item.label | translate) : ''"
       matTooltipPosition="right">
      <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
      @if (!collapsed()) {
        <span class="nav-label">{{ item.label | translate }}</span>
      }
    </a>
  }
</ng-template>
